**/*[Tt][Ee][Ss][Tt]*
**/*[Tt][Ee][Mm][Pp]*
/.idea
__pycache__/
/venv/
/data/
/plots/
/model_states/*
#!/model_states/*_1.pth
model_states/*[Tt][Ee][Ss][Tt]*
model_states/*[Tt][Ee][Mm][Pp]*
network_configs/optuna_config.json
!/src/tests
!/src/tests/netloader_tests.py
*.log
*.out
*.zip
!/src/gaussian_tests.py
!/batch_train_configs/*
/*.egg-info/
/build/
/jupyter_notebooks/.ipynb_checkpoints/
